.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.galleryList {
  display: flex;
  flex-direction: wrap;
  padding: 20px;
  margin: 40px;
  gap: 40px;
}